<header class="fz-breadcrumb-caption" ng-class="clazz" ng-if="title">
	<h1 class="fz-breadcrumb-title" ng-class="clazz">{{title}}</h1>
</header>
<ol class="fz-breadcrumb-list" ng-class="clazz">
	<li class="fz-breadcrumb-item" ng-class="clazz" ng-repeat="_item in itemList track by $index" ng-switch="itemType">
		<a class="fz-breadcrumb-link" ng-class="tagClass" ui-sref="{{_item.target}}" ng-switch-when="state">
			<span class="fz-breadcrumb-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
		<a class="fz-breadcrumb-link" ng-class="tagClass" ng-href="{{_item.target}}" ng-switch-when="href">
			<span class="fz-breadcrumb-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
		<a class="fz-breadcrumb-link" ng-class="tagClass" ng-click="_item.target()" ng-switch-when="action">
			<span class="fz-breadcrumb-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
		<a class="fz-breadcrumb-link" ng-class="tagClass" ng-switch-when="dummy">
			<span class="fz-breadcrumb-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
	</li>
</ol>
