<header class="fz-menu-caption" ng-class="clazz" ng-if="title">
	<h1 class="fz-menu-title" ng-class="clazz">{{title}}</h1>
</header>
<ul class="fz-menu-list" ng-class="clazz">
	<li class="fz-menu-item" ng-class="tagClass" ng-repeat="_item in itemList track by $index" ng-switch="itemType">
		<a class="fz-menu-link" ng-class="tagClass" ng-click="_item.target()" ng-switch-when="action">
			<span class="fz-menu-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
		<a class="fz-menu-link" ng-class="tagClass" ui-sref="{{_item.target}}" ng-switch-when="state">
			<span class="fz-menu-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
		<a class="fz-menu-link" ng-class="tagClass" ng-href="{{_item.target}}" ng-switch-when="href">
			<span class="fz-menu-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
		<a class="fz-menu-link" ng-class="tagClass" ng-switch-when="dummy">
			<span class="fz-menu-label" ng-class="tagClass">{{_item.title}}</span>
		</a>
		<span class="fz-menu-separator" ng-class="clazz" ng-switch-when="separator">-</span>
	</li>
</ul>
