<div class="gh-dialog-overlay" ng-class="clazz"></div>
<div class="gh-dialog-box" ng-class="clazz">
	<header class="gh-dialog-title-bar" ng-class="clazz">
		<span class="gh-dialog-title" ng-class="clazz">{{title}}</span>
		<button class="gh-dialog-button close" ng-class="clazz" ng-click="close()">&times;</button>
	</header>
	<div class="gh-dialog-body" ng-class="clazz">
		<ul class="gh-dialog-message-list" ng-class="clazz">
			<li class="gh-dialog-message-item" ng-class="clazz" ng-repeat="_msg in messageList">{{_msg.description}}</li>
		</ul>
	</div>
	<div class="gh-dialog-commands" ng-class="clazz">
		<button class="gh-dialog-button ok" ng-class="clazz" ng-click="close()">Aceptar</button>
	</div>
</div>
