<header class="fz-detail-caption outer" ng-class="clazz" ng-if="title">
	<h1 class="fz-detail-title outer" ng-class="clazz">{{title}}</h1>
</header>
<dl class="fz-detail-list outer" ng-class="clazz">
	<dt class="fz-detail-key outer" ng-class="clazz" ng-repeat-start="item in itemList track by $index">
		<span class="fz-detail-label outer" ng-class="clazz">{{item.title}}</span>
	</dt>
	<dd class="fz-detail-value outer" ng-class="clazz" ng-repeat-end>
		<span class="fz-detail-content outer" ng-class="clazz">{{model[item.name] || '-'}}</span>
	</dd>
</dl>
