<article class="site operative_protocol view">
	<div fz-detail fz-class="booklet operative_protocol view patient" fz-title="Paciente" fz-items="info.patient"></div>
	<div fz-detail fz-class="booklet operative_protocol view info" fz-title="Información del Documento" fz-items="info.info"></div>
	<div fz-detail fz-class="booklet operative_protocol view protocol" fz-title="Datos Protocolo Operatorio" fz-items="info.protocol"></div>
	<div fz-detail fz-class="booklet operative_protocol view staff" fz-title="Equipo" fz-items="info.staff"></div>
	<div fz-detail fz-class="booklet operative_protocol view procedure" fz-title="Detalle Intervención" fz-items="info.procedure"></div>
	<table fz-table fz-class="booklet listing operative_protocol view attachments" fz-title="Ordenes Quirúrgicas Adjuntas" fz-columns="columnList" fz-rows="info.attachList"></table>
</article>
