<article class="site operative_protocol fill">
	<div fz-detail fz-class="booklet operative_protocol fill patient" fz-title="Paciente" fz-items="info.patient"></div>
	<div fz-detail fz-class="booklet operative_protocol fill protocol" fz-title="Información del Documento" fz-items="info.info"></div>
	<form fz-form fz-class="booklet operative_protocol fill" fz-fields="form.fieldList" fz-model="form.valueMap" name="form.control" novalidate></form>
	<button class="operative_protocol fill" ng-disabled="form.control.$invalid" ng-click="onSave()">Guardar</button>
</article>
