<article class="site operative_protocol issued">
	<header class="site listing header">
		<span class="site listing hint">Puede buscar por fecha, nombre de paciente, RUT, ficha, diagnóstico, intervención, integrante de equipo médico o reintervención.</span>
		<span class="site listing status"></span>
		<input class="site listing textfield" type="text" ng-keypress="keyPressFilter($event)" ng-model="search.model">
		<button class="site listing button search" ng-disabled="!search.model" ng-click="search.run()">Buscar</button>
		<button class="site listing button clean" ng-disabled="!search.dirty" ng-click="search.clean()">Limpiar</button>
	</header>
	<div class="site listing body">
		<table fz-table fz-class="listing heavy operative_protocol issued" fz-columns="columnList" fz-rows="rowList"></table>
		<div class="site listing commands">
			<button class="site listing button previous" ng-disabled="!paging.hasPrevious" ng-click="paging.previous()">Anterior</button>
			<button class="site listing button next" ng-disabled="!paging.hasNext" ng-click="paging.next()">Siguiente</button>
		</div>
	</div>
</article>
