<article class="site operative_protocol check">
	<header class="site header operative_protocol check">
		<div class="site warning operative_protocol check">
			<p class="site warning-item operative_protocol check">Esto es un borrador y debe ser validado por un médico.</p>
			<p class="site warning-item operative_protocol check">Seleccione las ordenes quirúrgicas que fueron operadas en el procedimiento:</p>
			<div class="booklet operative_protocol check attachable-surgical-order">
				<table fz-table fz-class="listing record operative_protocol check queue" fz-columns="columnList" fz-rows="rowList"></table>
			</div>
		</div>
	</header>
	<div fz-detail fz-class="booklet operative_protocol check patient" fz-title="Paciente" fz-items="info.patient"></div>
	<div fz-detail fz-class="booklet operative_protocol check info" fz-title="Información del Documento" fz-items="info.info"></div>
	<div fz-detail fz-class="booklet operative_protocol check protocol" fz-title="Datos Protocolo Operatorio" fz-items="info.protocol"></div>
	<div fz-detail fz-class="booklet operative_protocol check staff" fz-title="Equipo" fz-items="info.staff"></div>
	<div fz-detail fz-class="booklet operative_protocol check procedure" fz-title="Detalle Intervención" fz-items="info.procedure"></div>
</article>
