<article class="site surgical_order suspend">
	<header class="site header surgical_order suspend">
		<div class="site warning surgical_order suspend">
			<p class="site warning-item surgical_order suspend">Debe especificar la causal de salida.</p>
		</div>
	</header>
	<form fz-form fz-class="booklet surgical_order suspend" fz-fields="form.fieldList" fz-model="form.valueMap" name="form.control" novalidate></form>
	<button class="surgical_order suspend" ng-disabled="form.control.$invalid" ng-click="onSuspend()">Suspender</button>
</article>
