/**
 * Normalización
 */
*
{
	box-sizing : border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	border : 0;
	font : inherit;
	margin : 0;
	padding : 0;
	vertical-align : baseline;
}

html
{
	font-size : 62.5%;
}

body
{
	color : #555;
	font-family : Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
	line-height : 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
gh-detail, gh-dialog
{
	display : block;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
	content : none;
}

blockquote,
q
{
	quotes : none;
}

ol,
ul
{
	list-style : none;
}

a
{
	color : #06c;
	cursor : pointer;
	text-decoration : none;
}

strong
{
	font-weight : bold;
}

[ng-cloak],
summary::details-marker,
summary::-webkit-details-marker
{
	display : none !important;
}

summary
{
	outline : none;
}

table
{
	border-collapse : collapse;
	border-spacing : 0;
}

/**
 * Entrada
 */
input,
select,
textarea,
button
{
	border : solid .1rem #c9e0ed;
	margin : 0;
	padding : 0;
	vertical-align : middle;
}

button
{
	background-color : #fff;
	border : .1rem solid #bbb;
	border-radius : .4rem;
	color : inherit;
	cursor : pointer;
	display : inline-block;
	padding : .3rem .8rem;
	overflow : hidden;
	text-align : center;
	text-decoration : none;
	white-space : nowrap;
}

button:disabled
{
	background-color : #eee;
	color : #999;
	cursor : default;
}

.fz-breadcrumb-item.current,
.fz-menu-item.disabled,
.fz-menu-item.separator,
.fz-menu-item.selected
{
	cursor : default;
	pointer-events : none;
}

.dropdown-menu
{
	background : #fff;
	border : solid .1rem #c9e0ed;
	max-height : 20rem;
	overflow-x : hidden;
	overflow-y : auto;
	position : absolute;
}

.dropdown-menu li
{
	padding : .2rem .4rem;
}

.dropdown-menu li.active
{
	background : #1e90ff;
}

.dropdown-menu a
{
	color : #555;
}

.dropdown-menu li.active a
{
	color : #fff;
}
