.fz-menu.admin-menu
{
	border-bottom : .2rem solid #bbb;
	margin-bottom : 2rem;
}

.fz-menu-title.admin-menu
{
	font-size : 2rem;
	font-weight : bold;
	padding-bottom : 1.5rem;
	text-align : left;
}

.fz-menu-list.admin-menu
{
	padding-bottom : 1.7rem;
	padding-left : 1.7rem;
}

.fz-menu-item.admin-menu:not(:last-of-type)
{
	padding-bottom : .5rem;
}
