/**
 * Raíz
 */
.root
{
	display : table;
	padding-bottom : 1.9rem; /* Compensación del pie fijo */
	width : 100%;
}

.root-header
{
	border-top : .3rem solid #c9e0ed;
	display : table-caption;
}

/* Cabecera Frontal */
.root-header-front
{
	display : flex;
	height : 10.7rem;
	padding : 1.2rem 2rem;
}

.root-logo
{
	align-self : center;
	flex : 0 0 8rem;
}

.root-title
{
	align-self : flex-end;
	font-size : 2.7rem;
	padding-left : .8rem;
}

.root-toolbar
{
	align-self : flex-end;
	flex : 1;
	text-align : right;
}

/* Menú Raíz */
.root-box-nav.fz-menu
{
	background : linear-gradient(to top, #4d9ac6 0%, #85bad8 100%);
	color : #fff;
	display : flex;
	font-weight : bold;
	min-height : 2.7rem;
	padding : .2rem 2rem 0;
}

.root-box-nav.fz-menu-caption
{
	align-self : center;
	flex : 1;
	text-transform : uppercase;
}

.root-box-nav.fz-menu-list
{
	display : flex;
}

.root-box-nav.fz-menu-dummy,
.root-box-nav.fz-menu-link
{
	color : #fff;
	display : block;
	padding : .6rem .8rem;
}

.root-box-nav.fz-menu-dummy,
.root-box-nav.fz-menu-link:hover
{
	background : linear-gradient(to top, #e9e9e9 0%, #ffffff 18%);
	color : #4d9ac6;
}

/* Breadcrumb */
.root-box-bread.fz-breadcrumb-list
{
	align-items : center;
	background : #e9e9e9;
	display : flex;
	font-weight : bold;
	font-size : 1.2rem;
	min-height : 2.3rem;
	padding : 0 2rem;
}

.root-body,
.root-box-aside.fz-menu
{
	display : table-cell;
	vertical-align : top;
}

/* Cuerpo */
.root-body
{
	width : 100%;
}

.root-error,
.root-warning
{
	border : .2rem solid;
	padding : .7rem 1.5rem;
}

.root-error-item,
.root-warning-item
{
	font-weight : bold;
	margin : .4rem 0;
}

.root-error
{
	border-color : #fab7b9;
	background : #fbe3e4;
}

.root-error-item
{
	color : #7e080f;
}

.root-warning
{
	border-color : #ffd324;
	background : #fff6bf;
}

.root-warning-item
{
	color : #514721;
}

/* Menú Relacionado Raíz*/
.root-box-aside.fz-menu
{
	padding-top : 2rem;
	font-weight : bold;
}

.root-box-aside.fz-menu-caption
{
	color : #298dcd;
	background : #b7d6e7;
	border-left : solid .5rem #6faccf;
	height : 2.5rem;
	padding : .6rem 1rem;
	width : 16.6rem;
}

.root-box-aside.fz-menu-list
{
	background : #effcfe;
	padding : .8rem 1.5rem;
}

.root-box-aside.fz-menu-item
{
	background : #effcfe;
	padding : .4rem 0;
}

/* Pie */
.root-footer
{
	background : white;
	border-top : .1rem solid #c9e0ed;
	bottom : 0;
	font-size : 1.1rem;
	height : 1.9rem;
	left : 0;
	padding-top : .4rem;
	position : fixed;
	text-align : center;
	width : 100%;
}

/* Marcos */
.fz-frame
{
	padding : 2rem 4rem;
}

/* Diálogos */
.gh-dialog-overlay
{
	background-color : #000;
	height : 100%;
	left : 0;
	opacity : 0.7;
	position : fixed;
	top : 0;
	width : 100%;
	z-index : 9999;
}

.gh-dialog-box
{
	background-color : #fff;
	display : flex;
	flex-direction : column;
	height : 30rem;
	left : 50%;
	padding : .6rem;
	position : fixed;
	top : 50%;
	transform : translate(-50%, -50%);
	width : 40rem;
	z-index : 10000;
}

.gh-dialog-title-bar
{
	align-items : center;
	background : linear-gradient(to top, #4d9ac6 0%, #85bad8 100%);
	display : flex;
	padding : .2rem;
	padding-left : .8rem;
}

.gh-dialog-title
{
	color : #fff;
	flex : 1;
	font-weight : bold;
}

.gh-dialog-body
{
	align-self : center;
	display : flex;
	align-items : center;
	flex : 1;
	padding : .4rem .4rem 0;
}

.gh-dialog-commands
{
	align-self : flex-end;
	padding : 0 .4rem .4rem;
}

.site.warning
{
	border : .2rem solid;
	padding : .7rem 1.5rem;
	border-color : #ffd324;
	background : #fff6bf;
}

.site.warning-item
{
	font-weight : bold;
	margin : .4rem 0;
	color : #514721;
}
