.fz-table-hcell.emergency.counter
{
	width : 4rem;
}

.fz-table-hcell.emergency.dauId,
.fz-table-hcell.emergency.specialityName
{
	width : 10rem;
}

.fz-table-hcell.emergency.age
{
	width : 12rem;
}

.fz-table-hcell.emergency.incomeDate
{
	width : 17rem;
}

.fz-table-cell.emergency.counter,
.fz-table-cell.emergency.dauId,
.fz-table-cell.emergency.specialityName,
.fz-table-cell.emergency.incomeDate
{
	text-align : center;
}

.fz-table-cell.emergency.counter
{
	font-weight : bold;
}

.fz-table-cell.emergency.incomeDate
{
	background : no-repeat .2rem center;
}

.fz-table-cell.emergency.incomeDate.info
{
	background-image : url('icon-bullet-green.png');
}

.fz-table-cell.emergency.incomeDate.warn
{
	background-image : url('icon-bullet-yellow.png');
}

.fz-table-cell.emergency.incomeDate.alert
{
	background-image : url('icon-bullet-red.png');
}
