.site.header
{
	margin-bottom : 1.7rem;
}

.site.booklet.button,
.site.listing.button
{
	margin-left : .5rem;
}

.site.booklet.form.search,
.site.listing.header
{
	align-items : center;
	display : flex;
	flex-flow : row wrap;
}

.site.booklet.hint,
.site.listing.hint
{
	flex : 1 0 65%;
	padding-bottom : .4rem;
}

.site.booklet.status,
.site.listing.status
{
	flex : 1 0 35%;
	padding-bottom : .4rem;
	text-align : right;
}

.site.booklet.textfield,
.site.listing.textfield
{
	flex : 1;
	height : 2.1rem;
}

.site.booklet.commands,
.site.listing.commands
{
	margin-top : 1.7rem;
	text-align : right;
}
