.fz-form.site.exporter.dau
{
	border : solid .1rem #555;
	display : inline-block;
	padding : 1rem;
}

.fz-form-section-caption.site.exporter
{
	font-size : 2rem;
	font-weight : bold;
	margin-bottom : 1rem;
}

.fz-form-key.exporter
{
	font-weight : bold;
	margin-bottom : .3rem;
}

.fz-form-value.exporter
{
	font-weight : bold;
	margin-bottom : .7rem;
}

.site.exporter.commands
{
	padding-top : .3rem;
	text-align : right;
}
