.gh-table-column.listing.patientName,
.gh-table-column.listing.surgeonName
{
	width : 25%;
}

.gh-table-column.listing.diagnosisList
{
	width : 50%;
}

.gh-table-row.listing
{
	height : 7rem;
}

.gh-table-cell.listing.counter,
.gh-table-cell.listing.programmedDate,
.gh-table-cell.listing.pavilionName,
.gh-table-cell.listing.specialityName,
.gh-table-cell.listing.statusName,
.gh-table-cell.listing.actions
{
	text-align : center;
}

.gh-table-cell.listing.counter,
.gh-table-cell.listing.patientName,
.gh-table-cell.listing.surgeonName
{
	font-weight : bold;
}

.gh-table-cell.listing.elapsedDays,
.gh-table-cell.listing.pavilionName
{
	background : no-repeat 50% 50%;
}

.gh-table-cell.listing.elapsedDays.d1
{
	background-image : url('icon-bullet-green.png');
}

.gh-table-cell.listing.elapsedDays.d2
{
	background-image : url('icon-bullet-yellow.png');
}

.gh-table-cell.listing.elapsedDays.d3
{
	background-image : url('icon-bullet-red.png');
}

.gh-table-cell-content.listing.counter,
.gh-table-cell-content.listing.elapsedDays,
.gh-table-cell-content.listing.programmedDate,
.gh-table-cell-content.listing.pavilionName,
.gh-table-cell-content.listing.specialityName,
.gh-table-cell-content.listing.statusName,
.gh-table-cell-content.listing.action
{
	display : block;
}

.gh-table-cell-content.listing.elapsedDays
{
	visibility : hidden;
}

.gh-table-cell-content.listing.counter
{
	width : 3rem;
}

.gh-table-cell-content.listing.elapsedDays
{
	width : 5rem;
}

.gh-table-cell-content.listing.programmedDate
{
	width : 8rem;
}

.gh-table-cell-content.listing.pavilionName
{
	width : 5.1rem;
}

.gh-table-cell-content.listing.specialityName
{
	width : 13rem;
}

.gh-table-cell-content.listing.statusName
{
	width : 7.2rem;
}

.gh-table-cell-content.listing.action
{
	width : 14rem;
}
