<caption class="fz-table-caption" ng-class="clazz" ng-if="title">
	<h1 class="fz-table-title" ng-class="clazz">{{title}}</h1>
</caption>
<colgroup>
	<col class="fz-table-column" ng-class="[clazz, _column.style()]" ng-repeat="_column in columnList track by $index">
</colgroup>
<thead class="fz-table-header" ng-class="clazz">
	<tr class="fz-table-hrow" ng-class="clazz">
		<th class="fz-table-hcell" ng-class="[clazz, _column.style()]" ng-repeat="_column in columnList track by $index">
			<span class="fz-table-hcell-content" ng-class="[clazz, _column.style()]">{{_column.title}}</span>
		</th>
	</tr>
</thead>
<tbody class="fz-table-body" ng-class="clazz">
	<tr class="fz-table-row" ng-class="rowClass" ng-repeat="(_rowIndex, _row) in rowList">
		<td class="fz-table-cell" ng-class="cellClass" ng-repeat="_column in columnList track by $index" ng-switch="_column.type">
			<span class="fz-table-cell-content" ng-class="cellClass" ng-switch-when="counter">{{1 + _rowIndex + _column.offset}}</span>
			<span class="fz-table-cell-content" ng-class="cellClass" ng-switch-when="select">
				<input class="fz-table-input" type="checkbox" ng-class="cellClass" ng-model="_column.model[_rowIndex]">
			</span>
			<span class="fz-table-cell-content" ng-class="cellClass" ng-init="initList()" ng-switch-when="list">
				<ul class="fz-table-list" ng-class="listClass" ng-repeat="_item in _itemList track by $index">
					<li class="fz-table-list-item" ng-class="listClass" ng-if="_value" ng-repeat="(_key, _value) in _item track by $index">
						<span class="fz-table-list-content" ng-class="listClass">
							{{_value}}
						</span>
					</li>
				</ul>
			</span>
			<span class="fz-table-cell-content" ng-class="cellClass" ng-switch-when="action">
				<ul class="fz-table-list" ng-class="cellClass">
					<li class="fz-table-list-item" ng-class="actionClass" ng-if="_action.filter ? _action.filter(_row, _action) : true" ng-repeat="_action in _column.list track by $index">
						<span class="fz-table-list-content" ng-class="actionClass">
							<button class="fz-table-action" ng-class="actionClass" ng-click="_action.callback(_row)">
								<span class="fz-table-action-label" ng-class="actionClass">{{_action.title}}</span>
							</button>
						</span>
					</li>
				</ul>
			</span>
			<span class="fz-table-cell-content" ng-class="cellClass" ng-switch-default>{{_row[_column.name]}}</span>
		</td>
	</tr>
</tbody>
