<script type="text/ng-template" id="/fz-detail-list.html">
	{{init()}}
	<dl class="fz-detail-list" ng-class="tagClass">
		<dt class="fz-detail-key" ng-class="tagClass" ng-repeat-start="_item in _itemList track by $index">
			<span class="fz-detail-label" ng-class="tagClass">{{_item.title || _item.name}}</span>
		</dt>
		<dd class="fz-detail-value" ng-class="tagClass" ng-repeat-end ng-switch="inner">
			<span class="fz-detail-content" ng-class="tagClass" ng-switch-when="true">
				<ng-include src="'/fz-detail-list.html'" fz-temporal-parent></ng-include>
			</span>
			<span class="fz-detail-content" ng-class="tagClass" ng-switch-default>{{_item.value || '-'}}</span>
		</dd>
	</dl>
</script>
<header class="fz-detail-caption" ng-class="clazz" ng-if="title">
	<h1 class="fz-detail-title" ng-class="clazz">{{title}}</h1>
</header>
<ng-include src="'/fz-detail-list.html'" fz-temporal-parent></ng-include>
