<fieldset class="fz-form-section" ng-class="clazz" ng-repeat="_section in fieldList track by $index">
	<legend class="fz-form-section-caption" ng-class="clazz" ng-if="_section.title">
		<h1 class="fz-form-section-title" ng-class="clazz">{{_section.title}}</h1>
	</legend>
	<dl class="fz-form-fieldlist" ng-class="tagClass">
		<dt class="fz-form-key" ng-class="tagClass" ng-repeat-start="_field in _section.value track by $index">
			<label class="fz-form-label" ng-class="tagClass">{{_field.title || _field.name}}</label>
		</dt>
		<dd class="fz-form-value" ng-class="tagClass" ng-repeat-end ng-switch="_field.type" ng-init="_level = model[_section.name]">
			<input class="fz-form-input" type="number" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-required="_field.required" ng-switch-when="number">
			<input class="fz-form-input" type="date" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-required="_field.required" ng-switch-when="date">
			<input class="fz-form-input" type="time" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-required="_field.required" ng-switch-when="time">
			<input class="fz-form-input" type="text" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-required="_field.required" typeahead="_item.value as _item.title for _item in _field.data | filter:_field.filter | filter:$viewValue" typeahead-input-formatter="aheadLabel($model)" ng-switch-when="typeahead">
			<input class="fz-form-input" type="checkbox" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-required="_field.required" ng-switch-when="check">
			<select class="fz-form-input" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-options="_item.value as _item.title || _item.value for _item in _field.data | filter:_field.filter" ng-readonly="_field.readonly" ng-required="_field.required" ng-switch-when="combo"></select>
			<textarea class="fz-form-input" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-required="_field.required" ng-switch-when="paragraph"></textarea>
			<dl class="fz-radiogroup" ng-class="tagClass" ng-switch-when="radiogroup">
				<dd class="fz-radiogroup-value" ng-class="tagClass" ng-repeat-start="_item in _field.data track by $index">
					<input class="fz-radiogroup-input" type="radio" ng-class="tagClass" ng-model="_level[_field.name]" ng-value="_item.value" ng-required="_field.required">
				</dd>
				<dt class="fz-radiogroup-key" ng-class="tagClass" ng-repeat-end>
					<label class="fz-radiogroup-label" ng-class="tagClass">{{_item.title}}</label>
				</dt>
			</dl>
			<dl class="fz-boolcheck" ng-class="tagClass" ng-switch-when="boolcheck" ng-init="_boolcheckModel = 2">
				<dd class="fz-boolcheck-value" ng-class="tagClass">
					<input class="fz-boolcheck-input" type="radio" ng-class="tagClass" ng-model="_boolcheckModel" value="1">
				</dd>
				<dt class="fz-boolcheck-key" ng-class="tagClass">
					<label class="fz-boolcheck-label" ng-class="tagClass">Si</label>
				</dt>
				<dd class="fz-boolcheck-value" ng-class="tagClass">
					<input class="fz-boolcheck-input" type="radio" ng-class="tagClass" ng-model="_boolcheckModel" value="2">
				</dd>
				<dt class="fz-boolcheck-key" ng-class="tagClass">
					<label class="fz-boolcheck-label" ng-class="tagClass">No</label>
				</dt>
				<dd class="fz-boolcheck-value" ng-class="tagClass">
					<input class="fz-boolcheck-input" type="time" ng-class="tagClass" ng-disabled="2 == _boolcheckModel" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-required="_field.required">
				</dd>
			</dl>
			<ol class="fz-diagnosis" ng-class="tagClass" ng-switch-when="diagnosis">
				<li class="fz-diagnosis-item" ng-class="tagClass" ng-repeat="_item in _field.value track by $index">
					<dl class="fz-diagnosis-unit" ng-class="tagClass">
						<dt class="fz-diagnosis-key" ng-class="tagClass" ng-repeat-start="_field in _item track by $index">
							<label class="fz-diagnosis-label" ng-class="tagClass">{{_field.title}}</label>
						</dt>
						<dd class="fz-diagnosis-value" ng-class="tagClass" ng-repeat-end>
							<textarea class="fz-diagnosis-input" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[$parent._field.name][$parent.$index][_field.name]" ng-readonly="_field.readonly" ng-required="_field.required"></textarea>
						</dd>
					</dl>
				</li>
			</ol>
			<input class="fz-form-input" type="text" ng-class="tagClass" ng-disabled="_field.disabled" ng-model="_level[_field.name]" ng-readonly="_field.readonly" ng-readonly="_field.readonly" ng-required="_field.required" ng-switch-default>
		</dd>
	</dl>
</fieldset>
