/* Global */
@font-face
{
	font-family : 'ArialStd';
	src : url('../font/arial.ttf');
}
@font-face
{
	font-family : 'ArialStd';
	src : url('../font/ariali.ttf');
	font-style : italic;
}
@font-face
{
	font-family : 'ArialStd';
	src : url('../font/arialbd.ttf');
	font-weight : bold;
}
@font-face
{
	font-family : 'ArialStd';
	src : url('../font/arialbi.ttf');
	font-weight : bold;
	font-style : italic;
}
html
{
	font-size : 62.5%;
}
table
{
	border-collapse : collapse;
	border-spacing : 0;
}
table td
{
	vertical-align : top;
}
body
{
	font : 1rem 'ArialStd';
}

/* Raíz Cabecera */
.root-header
{
	border-bottom : solid .1rem black;
	font-size : 1.2rem;
	height : 5.8rem;
}
.root-logo
{
	float : left;
}
.root-title
{
	float : left;
	padding : .4rem .8rem;
}
.root-system-name
{
	font-weight : bold;
}
.root-file.dateTitle,
.root-file.currentDate
{
	font-size : .9rem;
}

/* Raíz Pie */
.root-footer
{
	border-top : solid .1rem black;
	padding-top : .2rem;
	text-align : right;
}

/* Raíz Principal */
.root-main
{
	padding-bottom : 8rem; /* Compensación de firma */
	min-height : 61rem;
}

/* Comunes Información */
.info
{
	margin : 0 auto .8rem;
	width : 97%;
}
.info.title
{
	font-weight : bold;
	text-decoration: underline;
}
.cell
{
	padding-bottom : .9rem;
}
.cell.key
{
	font-weight : bold;
	padding-right : .4rem;
}

/* Información Base */
.info.base
{
	font-size : 1.2rem;
}
.value.patientName
{
	width : 60%;
}
.value.patientFile
{
	width : 40%;
}

/* Información Detalle-Médica */
.info.detail .key:first-of-type,
.info.medical .key:first-of-type
{
	width : 13.9rem;
}

.key.patientInsurance,
.key.patientGender,
.key.patientCareType
{
	width : 11.9rem;
}

/* Información Detalle */
.diagnosis,
.intervention
{
	display : block;
}

.intervention
{
	padding-left : 1.5rem;
	padding-top : .3rem;
}

/* Información Equipo */
.info.staff .key:first-of-type
{
	width : 8.3rem;
}

.info.staff .key:nth-of-type(3)
{
	width : 7.4rem;
}

/* Información Procedimiento */
.key.date,
.key.duration,
.key.skinprep,
.key.antiseptic,
.key.imaging
{
	width : 9.5rem;
}

.key.startTime,
.key.tries,
.key.anesthesia,
.key.biopsy,
.key.antibiotic
{
	width : 9.5rem;
}

/*.key.duration,
.key.imaging
{
	width : 11.5rem;
}*/

/*.procedure.description
{
	margin : 0 auto;
	padding : 0 1rem;
	width : 97%;
}*/

/* Firma */
.main-footer
{
	bottom : .9rem;
	left : 0;
	position : fixed;
	text-align : center;
	width : 100%;
}

.surgeon-signature
{
	border-top : solid .1rem black;
	display : inline-block;
	padding-top : .4rem;
	width : 15rem;
}
