<article class="site operative_protocol reports">
	<div class="site booklet body">
		<form class="fz-form site booklet issued" name="issuedForm" novalidate>
			<fieldset class="fz-form-section site booklet">
				<legend class="fz-form-section-caption site booklet">
					<h1 class="fz-form-section-title site booklet">Protocolos Realizados</h1>
				</legend>
				<dl class="fz-form-fieldlist outer site booklet">
					<dt class="fz-form-key outer site booklet required">
						<span class="fz-form-label outer site booklet required">Fecha Inicial</span>
					</dt>
					<dd class="fz-form-value outer site booklet required">
						<input class="fz-form-input site booklet required" type="date" max="{{issued.range.end | date:'yyyy-MM-dd'}}" ng-model="issued.range.begin" ng-required="true">
					</dd>
					<dt class="fz-form-key outer site booklet required">
						<span class="fz-form-label outer site booklet required">Fecha Final</span>
					</dt>
					<dd class="fz-form-value outer site booklet required">
						<input class="fz-form-input site booklet required" type="date" min="{{issued.range.begin | date:'yyyy-MM-dd'}}" ng-model="issued.range.end" ng-required="true">
					</dd>
				</dl>
			</fieldset>
			<div class="site booklet commands">
				<button class="site booklet button next" ng-click="onExport('issued')" ng-disabled="dauForm.$invalid">Exportar</button>
			</div>
		</form>
	</div>
	<div class="site booklet body">
		<form class="fz-form site booklet suspend" name="suspendForm" novalidate>
			<fieldset class="fz-form-section site booklet">
				<legend class="fz-form-section-caption site booklet">
					<h1 class="fz-form-section-title site booklet">Intervenciones Suspendidas</h1>
				</legend>
				<dl class="fz-form-fieldlist outer site booklet">
					<dt class="fz-form-key outer site booklet required">
						<span class="fz-form-label outer site booklet required">Fecha Inicial</span>
					</dt>
					<dd class="fz-form-value outer site booklet required">
						<input class="fz-form-input site booklet required" type="date" max="{{suspend.range.end | date:'yyyy-MM-dd'}}" ng-model="suspend.range.begin" ng-required="true">
					</dd>
					<dt class="fz-form-key outer site booklet required">
						<span class="fz-form-label outer site booklet required">Fecha Final</span>
					</dt>
					<dd class="fz-form-value outer site booklet required">
						<input class="fz-form-input site booklet required" type="date" min="{{suspend.range.begin | date:'yyyy-MM-dd'}}" ng-model="suspend.range.end" ng-required="true">
					</dd>
				</dl>
			</fieldset>
			<div class="site booklet commands">
				<button class="site booklet button next" ng-click="onExport('suspend')" ng-disabled="dauForm.$invalid">Exportar</button>
			</div>
		</form>
	</div>
	<div class="site booklet body">
		<form class="fz-form site booklet pendings" name="pendingsForm" novalidate>
			<fieldset class="fz-form-section site booklet">
				<legend class="fz-form-section-caption site booklet">
					<h1 class="fz-form-section-title site booklet">Pendientes</h1>
				</legend>
				<dl class="fz-form-fieldlist outer site booklet">
					<dt class="fz-form-key outer site booklet required">
						<span class="fz-form-label outer site booklet required">Fecha Inicial</span>
					</dt>
					<dd class="fz-form-value outer site booklet required">
						<input class="fz-form-input site booklet required" type="date" max="{{pendings.range.end | date:'yyyy-MM-dd'}}" ng-model="pendings.range.begin" ng-required="true">
					</dd>
					<dt class="fz-form-key outer site booklet required">
						<span class="fz-form-label outer site booklet required">Fecha Final</span>
					</dt>
					<dd class="fz-form-value outer site booklet required">
						<input class="fz-form-input site booklet required" type="date" min="{{pendings.range.begin | date:'yyyy-MM-dd'}}" ng-model="pendings.range.end" ng-required="true">
					</dd>
				</dl>
			</fieldset>
			<div class="site booklet commands">
				<button class="site booklet button next" ng-click="onExport('pendings')" ng-disabled="dauForm.$invalid">Exportar</button>
			</div>
		</form>
	</div>
</article>
