/**
 * Formato de Lista
 */
.fz-table-column.operative_protocol.patientName,
.fz-table-column.operative_protocol.surgeonName
{
	width : 30%;
}

.fz-table-column.operative_protocol.preDiagnosisList,
.fz-table-column.operative_protocol.postDiagnosisList
{
	width : 50%;
}

.fz-table-hcell-content.operative_protocol.counter,
.fz-table-hcell-content.operative_protocol.elapsedDays,
.fz-table-hcell-content.operative_protocol.creationDate,
.fz-table-hcell-content.operative_protocol.incomeDate,
.fz-table-hcell-content.operative_protocol.programmedDate,
.fz-table-hcell-content.operative_protocol.protocolDate,
.fz-table-hcell-content.operative_protocol.pavilionName,
.fz-table-hcell-content.operative_protocol.specialityName,
.fz-table-hcell-content.operative_protocol.statusName,
.fz-table-hcell-content.operative_protocol.surgicalOrderId,
.fz-table-hcell-content.operative_protocol.actions
{
	display : block;
}

.fz-table-hcell-content.operative_protocol.counter
{
	width : 3rem;
}

.fz-table-hcell-content.operative_protocol.elapsedDays
{
	width : 5rem;
}

.fz-table-hcell-content.operative_protocol.incomeDate,
.fz-table-hcell-content.operative_protocol.creationDate,
.fz-table-hcell-content.operative_protocol.programmedDate,
.fz-table-hcell-content.operative_protocol.protocolDate
{
	width : 8rem;
}

.fz-table-hcell-content.operative_protocol.pavilionName
{
	width : 5.1rem;
}

.fz-table-hcell-content.operative_protocol.specialityName
{
	width : 13rem;
}

.fz-table-hcell-content.operative_protocol.statusName
{
	width : 7.2rem;
}

.fz-table-hcell-content.operative_protocol.surgicalOrderId
{
	width : 4.8rem;
}

.fz-table-hcell-content.operative_protocol.actions
{
	width : 14rem;
}

.fz-table-cell.operative_protocol.counter,
.fz-table-cell.operative_protocol.creationDate,
.fz-table-cell.operative_protocol.incomeDate,
.fz-table-cell.operative_protocol.operativeProtocolId,
.fz-table-cell.operative_protocol.programmedDate,
.fz-table-cell.operative_protocol.protocolDate,
.fz-table-cell.operative_protocol.pavilionName,
.fz-table-cell.operative_protocol.specialityName,
.fz-table-cell.operative_protocol.statusName,
.fz-table-cell.operative_protocol.surgicalOrderId,
.fz-table-cell.operative_protocol.actions
{
	text-align : center;
}

.fz-table-cell.operative_protocol.counter,
.fz-table-cell.operative_protocol.operativeProtocolId,
.fz-table-cell.operative_protocol.patientName,
.fz-table-cell.operative_protocol.surgeonName
{
	font-weight : bold;
}

.fz-table-cell.operative_protocol.elapsedDays
{
	background : no-repeat 50% 50%;
}

.fz-table-cell.operative_protocol.elapsedDays.info
{
	background-image : url('icon-bullet-green.png');
}

.fz-table-cell.operative_protocol.elapsedDays.warn
{
	background-image : url('icon-bullet-yellow.png');
}

.fz-table-cell.operative_protocol.elapsedDays.alert
{
	background-image : url('icon-bullet-red.png');
}

.fz-table-cell-content.operative_protocol.elapsedDays
{
	visibility : hidden;
}

.fz-table-list-item.operative_protocol
{
	padding-left : 1.3rem;
}

.fz-table-list-item.operative_protocol.diagnosis
{
	font-weight : bold;
	padding-left : 0;
}

.fz-table-list-item.operative_protocol.action
{
	padding-left : 0;
}
