.home-menu-nav
{
	display : flex;
	flex-flow : row wrap;
	margin : 0 auto;
	width : 72rem;
}

.home-menu-nav.fz-menu-item
{
	background : #fff2ce;
	border : .1rem solid #377ba2;
	border-radius : 1rem;
	height : 13.2rem;
	margin : .5rem;
	width : 13.2rem;
}

.home-menu-nav.fz-menu-item.disabled,
.home-menu-nav.fz-menu-item.separator
{
	cursor : default;
	opacity : .5;
}

.home-menu-nav.fz-menu-dummy,
.home-menu-nav.fz-menu-link
{
	color : #06c;
	background : url('icon-module-surgical_act.png') no-repeat 50% 35%;
	display : block;
	height : 100%;
	width : 100%;
}

.home-menu-nav.fz-menu-link:hover
{
	color : #09f;
}

.home-menu-nav.fz-menu-label
{
	display : block;
	font-size : 1.2rem;
	margin : 0 auto;
	padding-top : 70%;
	text-align : center;
	width : 88%;
}

.home-menu-nav.fz-menu-separator
{
	display : none;
}
