.fz-detail-title.booklet,
.fz-form-section-title.booklet,
.fz-table-title.booklet
{
	font-size : 2rem;
	font-weight : bold;
	padding-bottom : 1.5rem;
	text-align : left;
}

.fz-detail.booklet,
.fz-form-section.booklet
{
	border-bottom : .2rem solid #bbb;
	margin-bottom : 2rem;
}

.fz-detail-list.booklet.outer,
.fz-form-fieldlist.booklet.outer
{
	display : flex;
	flex-flow : row wrap;
	padding-bottom : 1.7rem;
}

.fz-detail-key.booklet.outer,
.fz-detail-value.booklet.outer,
.fz-form-key.booklet.outer,
.fz-form-value.booklet.outer
{
	border-top : solid .2rem #fff;
	padding : .5rem .8rem;
}

.fz-detail-key.booklet:nth-of-type(odd).outer,
.fz-detail-value.booklet:nth-of-type(odd).outer,
.fz-form-key.booklet:nth-of-type(odd).outer,
.fz-form-value.booklet:nth-of-type(odd).outer
{
	background : #e5f1f4;
}

.fz-detail-key.booklet:nth-of-type(even).outer,
.fz-detail-value.booklet:nth-of-type(even).outer,
.fz-form-key.booklet:nth-of-type(even).outer,
.fz-form-value.booklet:nth-of-type(even).outer
{
	background : #f8f8f8;
}

.fz-detail-key.booklet:first-of-type.outer,
.fz-detail-value.booklet:first-of-type.outer,
.fz-form-key.booklet:first-of-type.outer,
.fz-form-value.booklet:first-of-type.outer
{
	border-top : none;
}

.fz-detail-key.booklet.outer,
.fz-form-key.booklet.outer
{
	align-items : center;
	display : flex;
	flex : 0 1 20%;
	font-weight : bold;
	justify-content : flex-end;
	text-align : right;
}

.fz-detail-value.booklet.outer,
.fz-form-value.booklet.outer
{
	border-left : solid .2rem #fff;
	flex : 1 1 80%;
}

.fz-detail-key.booklet.inner
{
	font-weight : bold;
	margin-bottom : .4rem;
}

.fz-detail-value.booklet.inner
{
	padding-left : 2rem;
	margin-bottom : .6rem;
}

.fz-detail-value.booklet.inner:last-of-type,
.fz-form-value.booklet.inner:last-of-type
{
	margin-bottom : 0;
}

.fz-form-input[type="date"].booklet,
.fz-form-input[type="number"].booklet,
.fz-form-input[type="text"].booklet,
.fz-form-input[type="time"].booklet,
select.fz-form-input.booklet
{
	width : 20rem;
}

.fz-radiogroup-input.booklet,
.fz-radiogroup-label.booklet,
.fz-boolcheck-input.booklet,
.fz-boolcheck-label.booklet
{
	vertical-align : middle;
}

.fz-radiogroup.booklet.outer,
.fz-boolcheck.booklet.outer
{
	display : flex;
}

.fz-radiogroup-key.booklet.outer,
.fz-boolcheck-key.booklet.outer
{
	width : 13rem;
	margin-left : .3rem
}

.fz-boolcheck.booklet.outer
{
	align-items : center;
}

.fz-diagnosis-item.booklet.outer
{
	border : .1rem solid #bbb;
	padding : .5rem .8rem;
}

textarea.fz-diagnosis-input.booklet,
textarea.fz-form-input.booklet
{
	display : block;
	height : 6rem;
	padding : .5rem;
	resize : none;
	width : 100%;
}

textarea.fz-diagnosis-input.booklet:read-only,
textarea.fz-form-input.booklet:read-only
{
	background : none;
}

.fz-diagnosis-key.booklet::after,
.fz-form-key.booklet::after
{
	content : '\00a0';
	font-weight : bold;
	font-family : monospace;
	padding-left : .3rem;
}

.fz-diagnosis-key.booklet.required:after,
.fz-form-key.booklet.required:after
{
	color : red;
	content : '*';
}

.fz-diagnosis-label.booklet
{
	display : inline-block;
	font-weight : bold;
	padding : .4rem 0;
}
