.fz-table.listing
{
	background : #e5f1f4;
	font-size : 1.2rem;
}

.fz-table-caption.listing
{
	font-size : 1.4rem;
	font-weight : bold;
}

.fz-table-header.listing
{
	background : linear-gradient(to top, #4d9ac6 0%, #85bad8 100%);
	color : #fff;
	font-weight : bold;
}

.fz-table-row.listing.odd
{
	background : #f8f8f8;
}

.fz-table-row.listing.even
{
	background : #e5f1f4;
}

.fz-table-row.listing:hover
{
	background : #ecfbd4;
}

.fz-table-hcell.listing,
.fz-table-cell.listing
{
	border : .1rem solid #fff;
	height : 2.3rem;
	min-width : 3rem;
	padding : .5rem;
	vertical-align : middle;
}

.fz-table-hcell:first-child.listing,
.fz-table-cell:first-child.listing
{
	border-left : none;
}

.fz-table-hcell:last-child.listing,
.fz-table-cell:last-child.listing
{
	border-right : none;
}

.fz-table-hrow.listing .fz-table-hcell
{
	border-top : none;
}

.fz-table-row:last-child.listing .fz-table-cell
{
	border-bottom : none;
}

.fz-table-hcell.listing
{
	text-align : center;
}

.fz-table-list.listing
{
	list-style-position : inside;
}

.fz-table-action.listing
{
	width : 100%;
}

.fz-table-input.listing
{
	vertical-align : middle;
	width : 100%;
}

/**
 * Liviano-Pesado
 */
.fz-table.listing.light,
.fz-table.listing.heavy
{
	width : 100%;
}

/**
 * Liviano
 */
.fz-table-hrow.listing.light,
.fz-table-row.listing.light
{
	height : 2.3rem;
}

/**
 * Pesado
 */
.fz-table-hrow.listing.heavy
{
	height : 3.5rem;
}

.fz-table-row.listing.heavy
{
	height : 6.5rem;
}
