<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="application-name" content="gestion-hospitales">
		<meta name="description" content="Gestión de Hospitales">
		<meta name="author" content="Alvaro Fuentes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="icon" type="image/png" href="gh/assets/favicon.png">
		<link rel="stylesheet" type="text/css" href="gh/assets/global.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/trait-booklet.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/trait-listing.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-home-menu.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-root.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-admin_panel-menu.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-emergency.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-emergency-reports.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-operative_protocol.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-operative_protocol-check.css">
		<link rel="stylesheet" type="text/css" href="gh/assets/site-operative_protocol-view.css">
		<title>Gestión de Hospitales</title>
	</head>
	<body>
		<div id="gh-app" class="root" ng-cloak>
			<header class="root-header">
				<div class="root-header-front">
					<div class="root-logo">
						<img ng-src="gh/assets/{{system.logo}}" alt="Logo">
					</div>
					<h1 class="root-title">Gestión de Hospitales</h1>
					<div class="root-toolbar">
						<a href="/gestionhospitales/site/logout">Salir (<span ng-bind="user.username"></span>)</a>
					</div>
				</div>
				<div class="root-header-back">
					<nav fz-menu fz-class="root-box-nav" fz-title="{{box.title}}" fz-items="box.mainMenu"></nav>
					<nav fz-breadcrumb fz-class="root-box-bread" fz-items="box.breadcrumb" ng-if="box.showBreadcrumb"></nav>
				</div>
				<gh-dialog fz-class="root-modal" fz-on-close="closeDialog()" fz-messages="messenger.error" fz-title="Error" ng-if="messenger.error"></gh-dialog>
			</header>
			<main class="root-body" ui-view>
				<section>Cargando marco...</section>
			</main>
			<aside fz-menu fz-class="root-box-aside" fz-title="Tareas relacionadas" fz-items="box.relatedMenu" fz-params="box.relatedParams" ng-if="box.relatedMenu"></aside>
			<footer class="root-footer">
				Copyright © 2014 por Pertikos Software Ltda. Todos los derechos reservados.
			</footer>
		</div>
		<script src="gh/app.js"></script>
	</body>
</html>

